<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="filename">./toast-logs.log</Property>
	</Properties>
	<Appenders>
		<RollingRandomAccessFile name="RollingRandomAccessFile"
			fileName="${filename}" filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"
			immediateFlush="false" bufferSize="1024">
			<PatternLayout>
				<Pattern>%d %p %c{2.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingRandomAccessFile>
		<Console name="STDOUT" target="SYSTEM_OUT" ignoreExceptions="false">
			<PatternLayout pattern="%d %p %c{2.} [%t] %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="RollingRandomAccessFile" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>