body {
	line-height: 1.6em;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Sans-Serif";
	font-size: 12px;
	padding-left: 1em;
}

table {
	font-size: 12px;
	text-align: left;
	color: black;
	border: 3px solid darkgray;
	margin-top: 8px;
	margin-bottom: 12px;
}

th {
	font-size: 14px;
	font-weight: normal;
	padding: 6px 4px;
	border: 1px solid darkgray;
}

td {
	border: 1px solid darkgray;
	padding: 4px 4px;
}

h3 {
	margin-top: 24pt;
}

div {
	margin: 0px;
}

.summary {
	text-align: justify;
	letter-spacing: 1px;
	padding: 2em;
	background: darkgray;
	color: white;
}

.resultSuccess {
	background-color: green;
}

.resultFailure {
	background-color: red;
}

.resultInfo {
	background-color: lightblue;
}

.resultError {
	background-color: orange;
}

.noResult {
	background-color: white;
}

.message {
	font-weight: bold;
}