<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script"
          rel="stylesheet" type="text/css"/>
    <link
            href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
            rel="stylesheet" type="text/css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"></link>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
          crossorigin="anonymous"></link>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <style type="text/css">
        .navbar-default .navbar-brand {
            font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial,
            cursive;
            color: #fed136;
        }

        .testName {

        }

        footer {
            position: fixed;
            background-color: #D2D2D2;
            padding: 1em 0;
            padding-left: 31px;
            padding-right: 31px;
            bottom: 0;
            height: 25px;
            line-height: 1px;
            text-align: center;
            bottom: 0;
            right: 0;
            width: 100%;
        }

        .panel-toast {
            border-color: #B4B4B4;
        }

        .panel-toast > .panel-heading {
            border-color: #B4B4B4;
            background-color: #D2D2D2;
        }

        .jumbotron {
            background-color: #D2D2D2;
            border: #B4B4B4 solid 1px;
            padding-top: 23px;
            padding-bottom: 23px;
        }

        .title {
            font-weight: bold;
            padding: 20px;
            color: white;
        }

        #img1 {
            width: 800px;
            height: 600px;
            margin-left: -110px;
        }

        #myModal {
            position: fixed;
            left: 0;
            top: 0;
			width: 800px;
            height: 600px;
			overflow:auto;
        }
		
		p, pre {
			width: 700px;
			height: 400px;
			max-width: 900px;
			max-height: 500px;
		}

        .my-modal-body {

        }

        .my-modal-dialog {
            padding: 20px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script language="javascript">
        function displayImage(base64Image) {
            var src = "data:image/png;base64," + base64Image;
            //display the dialog
            $("#img1").attr("src", src);
            $('#myModal').modal('show');
        }

        function toggle(text) {
            var ele = document.getElementById(text);
            if (ele.style.display == "block") {
                ele.style.display = "none";
            } else {
                ele.style.display = "block";
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse"
     style="border-radius: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-left" href="#"> Toast TK </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="title">
                <div>Test Execution Report</div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <div class="row-fluid" style="width: 100%; height: 61px;">
            <div class="col-md-1  col-sm-2 col-xs-2"
                 th:with="isError = (${test.getTechnicalErrorNumber()} + ${test.getTestFailureNumber()}) > 0  ">
                <div th:if="${isError}">
                    <div class="fa fa-times" style="font-size: 63px; color: #d9534f;"></div>
                </div>
                <div th:unless="${isError}">
                    <div class="fa fa-check" style="font-size: 63px; color: #5cb85c;"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row-fluid">
                    <h3>
                        <span class="testName" th:text="${test.getName()}">TNR_RUSA_PREV_v2015-05-19.script</span>
                    </h3>
                </div>
            </div>
            <div class="pull-right" style="padding-top: 10px;">
                <div class="row-fluid">
                    <strong>Excution Date:</strong> <span
                        th:text="${@io.toast.tk.runtime.report.TemplateHelper@getStartTimeFormat(test)}"> yyyy-MM-dd'T'HH:mm:ss </span>
                </div>
                <div class="row-fluid">
                    <strong>Total Execution Time: </strong> <span
                        th:text="${@io.toast.tk.runtime.report.TemplateHelper@getExecutionTimeFormat(test)}"> HH:mm:ss:SSS </span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-toast">
        <div class="panel-heading">
            <i class="fa fa-pie-chart"></i> Execution Summary
        </div>
        <div class="panel-body">
            <div class="row-fluid" style="width: 80%; margin: auto;">
                <ul class="list-group col-md-4">
                    <li class="list-group-item">Errors: <span class="badge"
                                                              th:text="${test.getTestFailureNumber()}"
                                                              style="background-color: #d9534f;">36</span></li>
                    <li class="list-group-item">Success: <span class="badge"
                                                               th:text="${test.getTestSuccessNumber()}"
                                                               style="background-color: #5cb85c;">203</span></li>
                </ul>
                <div class="col-md-offset-2  col-md-6">
                    <canvas id="canvas" height="120" width="400"></canvas>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-toast">
        <div class="panel-heading">
            <i class="fa fa-check-square-o"></i> Execution Details
        </div>
        <div th:fragment="blockfragment(test)">
            <div th:each="block : ${test.getBlocks()}">
                <div th:switch="${block.getBlockType()}">
                    <div class="test" th:case="'testPageBlock'">
                        <div th:replace="::blockfragment(test=${block})">...</div>
                    </div>
                    <div class="test" th:case="'test'">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion" role="tablist"
                                 aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseOne"
                                               aria-expanded="true" aria-controls="collapseOne">
                                                Scénario of type <span th:text="${block.fixtureName}">swing</span>
                                            </a>
                                            <div style="float: right;">
												<span class="badge" style="background-color: #5cb85c;">
													<span th:text="${block.getTestSuccessNumber()}">swing</span>
													OK
												</span> <span class="badge" style="background-color: #d9534f;">
													<span th:text="${block.getTestFailureNumber()}">swing</span>
													KO
												</span>
                                            </div>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <table class="table table-bordered table-hover">
                                                <tr>
                                                    <td>Step</td>
                                                    <td>Expected</td>
                                                    <td>Result</td>
                                                    <td>Comment</td>
                                                    <td>Time</td>
                                                </tr>
                                                <tr
                                                        th:class="${line.testResult}? ${@io.toast.tk.runtime.report.TemplateHelper@getResultKindAsString(line.testResult)}"
                                                        th:each="line : ${block.blockLines}">
													<td>
														<a th:text="${@io.toast.tk.runtime.report.TemplateHelper@getSmallStepSentence(line)}" data-toggle="modal" th:attr="data-target='#sentence' + ${@io.toast.tk.runtime.report.TemplateHelper@getLineId(line)}">My short sentence</a>
														 <!-- Modal -->
														 <div class="modal fade" th:id="'sentence' + ${@io.toast.tk.runtime.report.TemplateHelper@getLineId(line)}" role="dialog">
															<div class="modal-dialog modal-lg">
															<!-- Modal content-->
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal">&times;</button>
																		<h4 class="modal-title">Sentence</h4>
																	</div>
																	<div class="modal-body">
																		<p th:text="${@io.toast.tk.runtime.report.TemplateHelper@getStepSentence(line)}">
																			My long sentence
																		</p>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																	</div>
																</div>
															</div>
														</div>
													</td>
                                                    <td>
														<a th:text="${@io.toast.tk.runtime.report.TemplateHelper@getSmallExpectedResult(line)}" data-toggle="modal" th:attr="data-target='#result' + ${@io.toast.tk.runtime.report.TemplateHelper@getLineId(line)}">My short expected result</a>
														<!-- Modal -->
														<div class="modal fade" th:id="'result' + ${@io.toast.tk.runtime.report.TemplateHelper@getLineId(line)}" role="dialog">
															<div class="modal-dialog modal-lg">
															<!-- Modal content-->
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal">&times;</button>
																		<h4 class="modal-title">Expected Result</h4>
																	</div>
																	<div class="modal-body">
																		<pre th:text="${@io.toast.tk.runtime.report.TemplateHelper@getExpectedResult(line)}">
																			My long expected result
																		</pre>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																	</div>
																</div>
															</div>
														</div>
													</td>
                                                    <td>
														<a th:text="${@io.toast.tk.runtime.report.TemplateHelper@formatSmallStringToHtml(line)}" data-toggle="modal" th:attr="data-target='#expectedResult' + ${@io.toast.tk.runtime.report.TemplateHelper@getLineId(line)}">My short result</a>
														<!-- Modal -->
														<div class="modal fade" th:id="'expectedResult' + ${@io.toast.tk.runtime.report.TemplateHelper@getLineId(line)}" role="dialog">
															<div class="modal-dialog modal-lg">
															<!-- Modal content-->
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal">&times;</button>
																		<h4 class="modal-title">Result</h4>
																	</div>
																	<div class="modal-body">
																		<pre th:text="${@io.toast.tk.runtime.report.TemplateHelper@formatStringToHtml(line)}">
																			My long result
																		</pre>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																	</div>
																</div>
															</div>
														</div>
                                                    </td>
                                                    <td><span
                                                            th:text="${line.comment} == null ? '&nbsp;' : ${line.comment}">&nbsp;</span>
                                                        <span class="btn btn-link btn-xs"
                                                              th:if="${@io.toast.tk.runtime.report.TemplateHelper@hasScreenShot(line.testResult)} == true"
                                                              th:onclick="'javascript:displayImage(\''+${@io.toast.tk.runtime.report.TemplateHelper@getResultScreenshotAsBase64(line.testResult)}+'\');'">
															détails </span></td>
                                                    <td><span th:text="${line.executionTime}"> 0 </span>
                                                        ms
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div>
            <div class="modal-body">
                <img id="img1"/>
            </div>
            <div class="modal-footer">
                <p></p>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <small style="float: left;">Copyright 2015 - Synaptix-Labs</small>
    <small>Toast
        Tk
    </small>
    <img alt="Brand"
         src="http://toast.synaptix-labs.com/img/logos/ToastLogo.png"
         style="width: 24px; float: right; margin-top: -13px"/>
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    var data =
    /*[[${@io.toast.tk.runtime.report.TemplateHelper@getPieChartJson(test.getTestSuccessNumber(), test.getTechnicalErrorNumber(), test.getTestFailureNumber())}]]*/
    var objData = JSON.parse(data);
    window.onload = function () {
        new Chart(document.getElementById("canvas").getContext("2d"))
                .Pie(objData);
    }
    /*]]>*/
</script>

</body>
</html>