<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta http-equiv="X-UA-Compatible" content="IE=9"/>
		<link type="text/css" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
		<title>Test Report</title>
		<style>
			body {
				background: repeat-x scroll 0 0 #55A9ED;
				color: #4C4C4C;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 14px;
				line-height: 20px;
				margin: 0;
				padding-top: 0;
			}
			
			.container {
				width: 1000px;
			}
			
			.portalBody {
				background: #FFFFFF;
				padding: 10px;
				border: 4px solid #ccc;
			}
		</style>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
				 google.load("visualization", "1", {packages:["corechart"]});
			  google.setOnLoadCallback(drawChart);
			  function drawChart() {
				var historyData = /*[[${@com.synaptix.toast.automation.report.TemplateReportHelper@getResultTrendData(project, projectsHistory)}]]*/
				var dataTable = [['Iteration', 'OK', 'KO', 'Not Completed', 'Not Run']];
				dataTable.push.apply(dataTable, historyData)
				var data = google.visualization.arrayToDataTable(dataTable);
				var options = {
				  title: 'Test Execution Trend'
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
				chart.draw(data, options);
			  }
			  
			  //performance chart
			  google.setOnLoadCallback(drawPerfChart);
			  function unquote(str, quoteChar) {
			      quoteChar = quoteChar || '"';
			      if (str[0] === quoteChar && str[str.length - 1] === quoteChar)
			        return str.slice(1, str.length - 1);
			      else return str;
			    };
			    
			  function drawPerfChart() {
				var historyData = /*[[${@com.synaptix.toast.automation.report.TemplateReportHelper@getExecTrendData(project, projectsHistory)}]]*/
				var dataTable = [['Iteration', 'Total Execution Time (ms)']];
				dataTable.push.apply(dataTable, historyData)
				var data = google.visualization.arrayToDataTable(dataTable);
				var options = {
				  title: 'Test Performance Trend'
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart_perf_div'));
				chart.draw(data, options);
			  }
			/*]]>*/
		</script>
</head>
<body>
	<div class="container">
		<div class="row-fluid portalBody">
			<div class="report-header">
				<h1 th:text="${project.name}">Project Name</h1>
				<hr/>
			</div>
			<div class="report-milestones">
				<h2>Milestones</h2>
				<hr/>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Kick-Off Date</th>
							<th>Demo Delivery Date</th>
							<th>Production Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10/08/2013</td>
							<td>18/09/2013</td>
							<td>15/11/2013</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="report-milestones">
				<h2>Comments</h2>
				<hr/>
				it's not good !
			</div>
			<div class="report-trends">
				<h2>Trends</h2>
				<hr/>
				<h3>Execution Status</h3>
				<div id="chart_div"></div>
				<h3>Run Performance Status</h3>
				<div id="chart_perf_div"></div>
			</div>
			
			<div class="report-campaigns">
				<h2>Campaigns</h2>
				<hr/>
				<div th:each="campaign : ${project.campaigns}">
					<div class="report-campaign">
						<h3 th:text="${campaign.name}">Campaign X - Ordonnanceur</h3>
						<hr/>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Use Case</th>
									<th>Prev. Status</th>
									<th>Status</th>
									<th>Prev. Duration (s)</th>
									<th>Duration (ms)</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="test : ${campaign.testCases}">
									<td th:text="${test.pageName}">Test 1</td>
									<td class="success" th:if="${test.previousIsSuccess}">
										OK
									</td>
									<td class="danger" th:if="${not test.previousIsSuccess}">
										KO
									</td>
									<td class="success" th:if="${test.isSuccess()}">
										OK
									</td>
									<td class="danger" th:if="${not test.isSuccess()}">
										KO
									</td>	
									<td th:text="${test.getPreviousExecutionTime() / 1000}">
										50
									</td>
									<td th:text="${test.getExecutionTime() / 1000}">
										100
									</td>
									<td>
										<a th:attr="href=@{~/test(project=${project.name}, iteration=${project.iteration}, test=${test.name})}">
											>> link
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>