|| scenario || web ||
| Open browser at *http://www.google.com* |

#include test_report_2.md
